config.json
node_modules/
package.json
package-lock.json
register_cmd.js
bdd.json
bdd_backup.json
user_list.json
user_list_backup.json
config.js
.DS_Store
config.py
__pycache__
mk.db
db.py
cups_emoji.py
sql.py
update_cups.py