name: "deployement"

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to prismillon registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push quaxly
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          tags: ${{ vars.REGISTRY_URL }}/library/quaxly:latest
          cache-from: type=gha
          cache-to: type=gha

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy quaxly on cluster
        uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        with:
          args: rollout restart deployment -n quaxly quaxly
